<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= appName %> report</title>
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="style.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<div class="container mt-5 mb-5">
	<div class="row">
	  <div class="col-sm-12">
		<div class="card-body">
		  <h5 class="card-title"><%= report.title %></h5>
		  <p class="card-text">时间: <%= report.time %></p>
		</div>
		<% Object.keys(report.projects).forEach(projectKey => { 
			const project = report.projects[projectKey]
	  %>
		<div class="card mt-5">
			<div class="card-header">
			<%= project.title %>
			</div>
			<div class="card-body">
			<% Object.keys(project.notes).forEach(noteKey => {
				const notes = project.notes[noteKey]
		  %>	
				<h4 style="border-left: 5px solid #dc3545;padding-left: 15px"><%= noteKey %></h4>
				<% notes.forEach(note => { %>
					<div class="card-body" style="background-color: #f8f9fa;margin-top: 5px;margin-bottom: 5px">
						<div class="card-text">
							<%- note.content %>
							</div>
					</div>
				<% })%>	
			<% })%>	
			</div>
		</div>
		<% })%>
	  </div>
	</div>
</div>
</body>
</html>
